
:root {
  /*Add customer variables here*/
  font-size: 90%;
}

* {
  box-sizing: border-box;
 /* margin: 0;
  padding: 0;*/
}

body {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  padding: 5rem 0;
  background-image: linear-gradient(to right bottom, #79F1A4, #0E5CAD);
  background-repeat: no-repeat;
  min-height: 100vh;
}

p {
  font-size: 1.5rem;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    background-image: linear-gradient(to right bottom, #79F1A4, #0E5CAD);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    font-size: 4rem;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.wrapper {
  width: 100%;
  display: flex;
  background-color: #eee;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 4rem;
  border-radius: 10px;
  box-shadow: 0 1rem 1.5rem rgba(0,0,0,.2);
  position: relative;
  z-index: 50;
}

.header-balance {
  font-size: 2.8rem;
  margin-bottom: -.5rem;
}

.header-amount {
  font-size: 2rem;
}

.container-inc-exp {
  width: 100%;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.container-inc-exp div {
  text-align: center;
  background-color: white;
  padding: .5rem 2rem;
  margin-top: 1rem;
  border-top: 4px solid #0E5CAD59;
  border-bottom: 4px solid #0E5CAD59;
}

.container-inc-exp div:nth-child(1) {
  border-left: 4px solid #0E5CAD59;
}
.container-inc-exp div:nth-child(2) {
  border-right: 4px solid #0E5CAD59;
}


form {
  width: 100%;
}

form > * {
  margin: 1rem 0;
}

form > div {
  display: flex;
  flex-direction: column;
}

input {
  padding: .5rem;
  margin-top: .5rem;
  border: none;
  border-radius: 10px;
  padding: 1rem;
}

h3 {
  border-bottom: 1px solid #333;
  padding-bottom: .5rem;
  width: 100%;
}

.btn {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2px;
  /*background-color: #9c88ff;*/
  background-image: linear-gradient(to left top, #79F1A4, #0E5CAD);
  color: white;
  transition: all .5s ease-in;
}

.btn:hover {
  transform: translateY(-.25rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.list {
  width: 100%;
  padding: 0;
}

.list div {
  width: 100%;
  padding: 0 1rem;
  list-style: none;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
  transition: opacity .4s;
}

.btn-delete {
  position: absolute;
  transform: translateX(-200%);
  background-color: #333;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 10px;
  padding: .4rem .8rem;
  opacity: 0;
  transition: opacity .4s;
}

.btn-edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  color: white;
  border: none;
  opacity: 0;
  transition: opacity .4s;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.btn-delete:focus,
.btn-delete:active {
  outline: 0;
}

.list div:hover .btn-delete {
  opacity: 1;
}

.list div:hover .btn-edit {
  opacity: 1;
}

.inc {
  border: 3px solid #4caf50;
}

.exp {
  border: 3px solid #ef6571;
}


/* POPUP */

.update-full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: .95;
}

.update-container {
  background-color: #333;
  padding: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 60%;
  height: 35%;
  border-radius: 10px;
  position: relative;
}

.btn-go-back {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  color: white;
  padding: .2rem .5rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.btn-clear {
  position: absolute;
  padding: .8rem 1rem;
  border-radius: 10px;
  background-color: #333;
  /*background-image: linear-gradient(to left top, #79F1A4, #0E5CAD);*/
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 2px;
}

.clear-container {
  margin: 1rem;
  width: 100%;
  height: 2rem ;
  text-align: center;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}










